ase==3.21.1
attrs==21.2.0
banal==1.0.6
beautifulsoup4==4.9.3
binaryornot==0.4.4
bitarray==0.9.3
boolean.py==3.8
cached-property==1.5.2
certifi==2021.5.30
cffi==1.14.5
chardet @ file:///tmp/build/80754af9/chardet_1607706768982/work
click==8.0.0
colorama==0.4.4
commoncode==21.5.12
cryptography==3.4.7
cycler==0.10.0
debian-inspector==0.9.10
decorator==5.0.7
dill==0.3.0
dparse2==0.5.0.4
extractcode==21.2.24
extractcode-7z==16.5.210223
extractcode-libarchive==3.5.1.210223
fasteners==0.16
fingerprints==1.0.3
fire==0.3.1
ftfy==4.4.3
future==0.18.2
gemfileparser==0.8.0
gensim==3.8.2
googledrivedownloader==0.4
h5py==3.2.1
html5lib==1.1
idna==2.10
importlib-metadata==4.0.1
intbitset==2.4.1
isodate==0.6.0
jaraco.functools==3.3.0
javaproperties==0.8.0
Jinja2==2.11.3
joblib==1.0.1
jsonstreams==0.6.0
kiwisolver==1.3.1
license-expression==1.2
llvmlite==0.36.0
lxml==4.6.3
MarkupSafe==2.0.0
matplotlib==3.4.2
mkl-fft==1.2.0
mkl-random==1.1.0
mkl-service==2.3.0
more-itertools==8.7.0
networkx==2.4
nltk==3.6.2
normality==2.2.2
numba==0.53.1
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1596233707986/work
olefile==0.46
packageurl-python==0.9.4
packaging==20.9
pandas==1.2.4
patch==1.16
pdfminer.six==20201018
pefile==2021.5.13
Pillow @ file:///tmp/build/80754af9/pillow_1617386154241/work
pip-licenses==3.3.1
pkginfo==1.7.0
pluggy==0.13.1
plugincode==21.1.21
ply==3.11
plyfile==0.7.4
plyvel==1.3.0
PTable==0.9.2
publicsuffix2==2.20191221
py4j==0.10.7
pyahocorasick==1.4.2
pyarrow==0.15.1
pycparser==2.20
pycryptodome==3.10.1
Pygments==2.9.0
pymaven-patch==0.3.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytorch-ignite==0.4.2
pytz==2020.1
PyYAML==5.4.1
rdflib==5.0.0
regex==2021.4.4
requests==2.25.1
saneyaml==0.5.2
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.9.0
six==1.15.0
smart-open==5.0.0
sortedcontainers==2.3.0
soupsieve==2.2.1
spdx-tools==0.6.1
termcolor==1.1.0
text-unidecode==1.3
toml==0.10.2
torch==1.5.0
torch-cluster==1.5.7
torch-geometric==1.5.0
torch-scatter==2.0.5
torch-sparse==0.6.7
torch-spline-conv==1.2.0
torchvision==0.6.0a0+82fd1c8
tqdm==4.56.0
typecode==21.2.24
typecode-libmagic==5.39.210223
typing-extensions==3.10.0.0
urllib3==1.26.4
urlpy==0.5
wcwidth==0.2.5
webencodings==0.5.1
xmltodict==0.12.0
zipp==3.4.1
